{% set name = data["name"] %}
{% set grade = data["grade"] %}
{% set about = data["about"] %}
{% set contributions = data["contributions"] %}
<!-- use of Jinja Templates to make use of less code and make it more efficient-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link" href="/aboutus/aditi/" >Aditi</a>
            <a class="nav-link" href="/aboutus/carter/">Carter</a>
            <a class="nav-link" href="/aboutus/isai/">Isai</a>
            <a class="nav-link" href="/aboutus/mustafa/">Mustafa</a>
            <a class="nav-link" href="/aboutus/sophie/" >Sophie</a>
            <!--allows users to learn about each person-->
            <!-- navbar to make it easier for users to navigate from one person to the next-->
        </div>
    </div>
</nav>

<div class="col-9" >
    <h1>About Us:</h1>
</div>
<div class="product" style="margin-top: 2%;">
    <div class="row" style="padding: 10%; padding-top: 0%; padding-bottom: 5%;">  <div class="col-5" style="text-align: left;">
        <h4>Click on each person's name to access their individual video and learn more about them</h4>
        {% block individual %}{% endblock %}
        <!-- code for how each person's about us page is goign to be spaced and organized-->
    </div>
    </div>
    <body>
    <!--underneath provides the code for the theme used in each about us page- vanta.dots; this also makes use of java script-->
    <script src="https://threejs.org/build/three.js"></script>
    <script src="{{ url_for('static', filename='vanta.dots.min.js') }}"></script>
    <style>
            html, body {
                margin: 0;
                height: 100%;
                color: white;
            }
    </style>
</body>
</html>