<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easter Egg</title>
</head>
<style>
    body {
background-image: url('cool-background.jpg');
background-repeat: no-repeat;
animation: bg-animation 10s infinite;
}
@-webkit-keyframes bg-animation {
}
@keyframes bg-animation {
0% {
background-color: #56C7FB;
}
25% {
background-color: #56C7FB;
}
75% {
background-color: #56C7FB;
}
100% {
background-color: #56C7FB;
}

</style>
<body>
College Board Requirements:<iframe src="https://drive.google.com/file/d/1kqdYKx8fKJ13WNvaWRTPGkdtn7fiiZ1K/preview" width="640" height="480"></iframe>
As a group, we have met almost all requirements
<h1>Who am I in computer Science?</h1>
<h2>Aditi:</h2>
<h4>I am proficient in Python and HTML syntax and I am working on becoming an expert.</h4>
<h4>I can build a Raspberry Pi web server and a Flask web server.</h4>
<h4>I Can create Jinja templates and pass Jinja variables from the front to the back end using HTML and Python.</h4>
<h4>I can create frontends using HTML and Bootstrap.</h4>
<h4>I am learning how to use SQL databases like SQLite and SQLalchemy.</h4>
<h4></h4>
<h4></h4>
<h2>Grace:</h2>
<h4>I am understanding how to code using Python and HTML</h4>
<h4>I know how to build a Raspberry Pi server and a develop a Flask web Server</h4>
<h4>I understand how to code database and know how to use them in a certain scenario</h4>
<h2>Sophie:</h2>
<h4>I can create Jinja temlpates and pass variables to the back end</h4>
<h4>I am proficient in Python and HTML syntax</h4>
<h4>I am learning how to build a rasberry pi server and a flask web server</h4>
<h4>design and evaluate solutions and to apply computer science to solve problems through the development of algorithms and programs.</h4>
<h2>Luke:</h2>
<h4>I am experienced in Python and HTML syntax and continuing to improve my skills</h4>
<h4>I am learning how to use a rest api and how to incorporate it into our project</h4>
<h4>Using HTML and Python I Can create Jinja templates and pass Jinja variables from the front to the backend</h4>

<iframe src="https://drive.google.com/file/d/1ulBw4k-q6Zf8X7twlcjmtFOScf-G_P49/preview" width="640" height="480"></iframe></body>
</html>