<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easter Egg</title>
</head>
<body>
<h1>Who am I in computer Science?</h1>
<h2>Aditi:</h2>
<h4>I am proficient in Python and HTML syntax and I am working on becoming an expert.</h4>
<h4>I can build a Raspberry Pi web server and a Flask web server.</h4>
<h4>I Can create Jinja templates and pass Jinja variables from the front to the back end using HTML and Python.</h4>
<h4>I can create frontends using HTML and Bootstrap.</h4>
<h4>I am learning how to use SQL databases like SQLite and SQLalchemy.</h4>
<h4></h4>
<h4></h4>
<h2>Grace:</h2>
<h4>statement</h4>
<h2>Sophie:</h2>
<h4>statement</h4>
<h2>Luke:</h2>
<h4>statement</h4>
</body>
</html>